.assignment-wrapper{
  border: 2px dashed lightgray;
  padding:2em;
  border-radius: 1em;
  margin-top: 5em;
}

.commentbubble{
  background-color: #eeeeee;
  border-radius: 1em;
  padding :1em;
  margin:1em 0em

}
.titlewindow{
  text-align: center;
}